<h1>{{ title }}</h1>

<!-- Não Utilizar métodos (hmtl - template) => Gera Overhead -->
<h3>{{ getSubTitle() }}</h3>

<button (click)="show()">aperta ai</button>

<p><b>
  Contador:
</b> {{count}}</p>

<button (click)="upCount()">up</button>
<button (click)="downCount()">down</button>
<br>

<ol>
  @for (item of names; track $index) {
    <li (click)="removeClicked($index)">
      {{ item }}
    </li>
  } @empty {
    <p>Nenhum Item na Lista. </p>
  }
</ol>

<button (click)="removeFirst()">remove first</button>
<button (click)="removeLast()">remove last</button>

<!-- @for (phone of pessoa.phone_numbers; track $index) {
  <ul>
    <li>
      Tipo: {{ phone.type }}
    </li>
    <li>
      Numero: {{ phone.number }}
    </li>
  </ul>

} @empty {
  <p>Nenhum Item na Lista. </p>
} -->

<router-outlet/>